.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 675px;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  text-decoration: none;
  color: white;
  font-weight: 800;
}

@media (max-width: 750px) {
  .login > img {
    width: 90%;
  }
}
